# go project
healthcheck
.golangci.yml
Makefile
version.json

# air
tmp/

# dotenv environment variables file
.env
*.pem
*.key
.env*

# git
.git
.gitignore
.vscode
.claude

# Snyk
.dccache

# Workflows
.github/workflows/

# Docker
docker-compose*.yml
Dockerfile*